# Unversioned files and folders.
# References at https://git-scm.com/docs/gitignore.

# Finder's configuration files (Mac).
.DS_Store

# Node.js modules.
node_modules/

# Lockfiles of NPM and Yarn.
# We're using PNPM and it provides it's own lockfile.
package-lock.json
npm-shrinkwrap.json‎
yarn.lock

# Log's files.
*.log
*.log.*

# Distribution sources
dist/

# Generated type declarations.
types/

# Transpiled modules and their source-maps.
src/**/*.js
src/**/*.js.map
